StringManipulation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/StringMainpulation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StringMainpulation" targetNamespace="http://www.example.org/StringMainpulation/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/StringMainpulation/">
      <xsd:element name="multiConcat">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="input1" type="xsd:string" />
          	<xsd:element name="input2" type="xsd:string"></xsd:element>
          	<xsd:element name="input3" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiConcatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="multiConcatRequest">
    <wsdl:part element="tns:multiConcat" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="multiConcatResponse">
    <wsdl:part element="tns:multiConcatResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="StringMainpulation">
    <wsdl:operation name="multiConcat">
      <wsdl:input message="tns:multiConcatRequest"/>
      <wsdl:output message="tns:multiConcatResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StringMainpulationSOAP" type="tns:StringMainpulation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="multiConcat">
      <soap:operation soapAction="http://www.example.org/StringMainpulation/multiConcat"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StringMainpulation">
    <wsdl:port binding="tns:StringMainpulationSOAP" name="StringMainpulationSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
